includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        # Laravel Auditing package stubs are missing these relationships
        - '#Relation ''user'' is not found in OwenIt\\Auditing\\Models\\Audit model#'
        - '#Relation ''auditable'' is not found in OwenIt\\Auditing\\Models\\Audit model#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php